<a href="https://colab.research.google.com/github/arddrasoni-commits/sets-dictionaries/blob/main/experiment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment 5
## Name: Arddra Soni
## PRN: 25070123022
## Branch: ENTC
## Batch: A1
### Title: Study of sets and dictionaries in python

In [ ]:
# Creation of set
sounds = {"bass", "drums", "guitar"}
print (sounds)

{'drums', 'bass', 'guitar'}

In [ ]:
# UNordered
''' Set items are unordered, unchangeable, and do not allow duplicatice value.
'''

' Set items are unordered, unchangeable, and do not allow duplicatice value.\n'

In [ ]:
# DUplicates are not allowed
sounds = {"bass", "drums", "guitar", "drums" }
print (sounds)

{'drums', 'bass', 'guitar'}

In [ ]:
# The values True and 1 are considered the same value in sets
sounds = {"bass", "guitar", "drums",True, 1}
print(sounds)

{'drums', 'bass', 'guitar', True}

In [ ]:
# a set with integers, strings and boolean values:
set1 = {"adrak", 78, False, 90, 80.5}
set1

{78, 80.5, 90, False, 'adrak'}

In [ ]:
sounds = {"bass", "drums", "guitar"}
print("bass" in sounds)
print("keys" in sounds)

True
False

In [ ]:
# once a set is created, you cannot replace its items, but you can add new items
# Set items are unchangeable, but you can remove items and add new items.
# Remove and Add items
sounds = {"drums","bass", "guitar"}
sounds.remove("drums")
sounds.add("keys")
print(sounds)

{'keys', 'bass', 'guitar'}

In [ ]:
# Set operations
S = {"guitar", "harp", "bass", "banjo"}
P = {"guitar", "keys", "bass", "drums"}
print ("Union: ", S|P)
print("Intersection: ", S & P)
print ("Difference: ", S - P)
print ("Symmetric Difference: ", S ^ P)

Union:  {'bass', 'banjo', 'keys', 'harp', 'drums', 'guitar'}
Intersection:  {'bass', 'guitar'}
Difference:  {'banjo', 'harp'}
Symmetric Difference:  {'banjo', 'keys', 'harp', 'drums'}

In [ ]:
#frozen set
# Addition or removal of elements are not allowed in frozenset
u = frozenset({"guitar", "bass", "drums"})
print(u)
print(type(u))

frozenset({'drums', 'bass', 'guitar'})
<class 'frozenset'>

In [ ]:
''' Problem Statement 1: Unique event Participants
A college event has a list of students who registered multiple times by mistake.
Write a program to using set to store participant names and display only unique participants'''
names = ["axle", "slash", "izzy", "axle","steven","mellissa", "steven"]
unique_names = set(names)
print (unique_names)

{'izzy', 'axle', 'slash', 'steven', 'mellissa'}

In [ ]:
''' Problem Statement 2: Select Common Subjects
three students selct a few subjects as their electives, select the the common subjects using intersection (&) '''

' Problem Statement 2: Select Common Subjects\nthree students selct a few subjects as their electives, select the the common subjects using interseection (&) '

In [ ]:
''' Problem Statement 3: One set contains students in the music club and the other contains students in the theatre club.
using intersection and symmetric difference'''
music = {"Harsh", "Paul", "Rochelle", "Prak", "Arddra"}
theatre = {"Lila", "Paul", "Ozzy","Sam","Arddra"}
print ("Both Clubs: ", music & theatre)
print ("Only one club: ", music ^ theatre)

Both Clubs:  {'Arddra', 'Paul'}
Only one club:  {'Lila', 'Sam', 'Prak', 'Ozzy', 'Rochelle', 'Harsh'}

In [ ]:
''' Problem Statement 4: Absent Students
Given a set of all stuents and a set of present students, find the absent students.
Concept used: Set difference(.)'''
students = {"Harsh", "Paul", "Rochelle", "Prak", "Arddra"}
present = {"Rochelle", "Prak", "Arddra"}
print ("Absent students: ", students - present)

Absent students:  {'Harsh', 'Paul'}

A dictionay is collection which is ordered, changeabke and does now allow duplicates

In [ ]:
# Creation of dictionary
west = {
    "brand": "Royal Enfield", "Model": "Classic 350", "year" : 2025
}
west

{'brand': 'Royal Enfield', 'Model': 'Classic 350', 'year': 2025}

In [ ]:
# Dictionary takes lates value given for key. It will not allow duplicates
west = {
    "brand": "Royal Enfield", "Model": "Classic 350", "year" : 2025, "year" : 2020
}
west

{'brand': 'Royal Enfield', 'Model': 'Classic 350', 'year': 2020}

In [ ]:
#length of key value pair
len(west)

3

In [ ]:
# Changing/Adding key value in dictionary
west = {
    "brand": "Royal Enfield", "Model": "Classic 350", "year" : 2025
}
west["color"] = "chrome"
x = west.values()
print(x) #after the change

dict_values(['Royal Enfield', 'Classic 350', 2025, 'chrome'])

In [ ]:
# Retrieval of values
student = {
    "name" : "Walter",
    "PRN" : 2085630,
    "Branch" : "Chemistry"
}
print("Name: ", student["name"])

Name:  Walter

In [ ]:
# Adding and Updating Elements
student["year"] = "First"
student["name"] = "Jason"
print(student)

{'name': 'Jason', 'PRN': 2085630, 'Branch': 'Chemistry', 'year': 'First'}

In [ ]:
# Removing elements
student.pop("Branch")
print("After removal: ", student)

After removal:  {'name': 'Jason', 'PRN': 2085630, 'year': 'First'}

In [ ]:
''' A dictionary stores product names and their prices.
Write a python program to update the price of the given product'''
toolz_list = {
    "tool 1": "screwdriver",
    "tool 2": "bolt",
    "tool 3": "wrench",
    "tool 4": "plier"
}
print("List before: ", toolz_list)
toolz_list["tool 3"] = "chainsaw"
print ("Updated products: ", toolz_list)

List before:  {'tool 1': 'screwdriver', 'tool 2': 'nut', 'tool 3': 'wrench', 'tool 4': 'plier'}
Updated products:  {'tool 1': 'screwdriver', 'tool 2': 'nut', 'tool 3': 'chainsaw', 'tool 4': 'plier'}

In [ ]:
'''2. A dictionary stores student names and marks.
Write a program to search for a students marks using the same '''

'2. A dictionary stores student names and marks.\nWrite a program to search for a students marks using the same '

In [ ]:
''' 3. A dictionary stores usernames and passwords.
Write a Python program to validate user login'''
login = {
    "Axle" : "1509",
    "Slash": "4858",
    "Izzy" : "7984",
    "Steven" : "8735"
}
user_name = input("Enter username: ")
pw = input ("Enter Passsworld: ")
if login.get(user_name) == pw:
  print("Login successful")
else:
  print("Invalid Login")

Enter username: Slash
Enter Passsworld: 6575
Invalid Login

In [ ]:
'''4. A dictionary contains student names and marks.
Write a python program to find the student who scored the highest marks'''

marks = {"AB": 89, "CD": 96, "EF": 45}
top = max(marks, key=marks.get)
print ("Topper:", top)
print("Marks:", marks[top])

Topper: CD
Marks: 96